// Bootstrap
@import 'bootstrap/bootstrap';

// Base Styles
@import 'slices/base.less';

a {
    color: red;
}

.hide{
	display: none;
}

.visibility-hidden{
	visibility: hidden;
}

.tabuleiro{
	.casinha{
		/*outline: solid 1px gray;*/
		width: 178px;
		height: 178px;
		float: left;
		margin: 5px;
		text-align: center;
		/*cursor: url("../images/marreta.jpg"), default;*/
		/*cursor: url("../images/marreta.jpg");*/
		/*cursor: url("http://www.novanisa.pt/upload/marreta%201.png"), auto;*/
		/*cursor: url("https://media.tenor.com/images/afa7d5b9f9b2249f75c7ee46302f4a74/tenor.gif"), auto;*/
		/*cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;*/

		.imagem{
			margin-top: 24px;
			cursor: pointer;
			
			&.imagem2{
				/*display: none;*/
			}
		}

	}
}