// Bootstrap
@import 'bootstrap/bootstrap';

// Base Styles
@import 'slices/base.less';


a {
    color: red;
}

.tabuleiro{
	.casinha{
		outline: solid 1px red;
		width: 100px;
		height: 100px;
		float: left;
	}
}