// Bootstrap
@import 'bootstrap/bootstrap';

// Base Styles
@import 'slices/base.less';


a {
    color: red;
}

.tabuleiro{
	.casinha{
		outline: solid 1px gray;
		width: 178px;
		height: 178px;
		float: left;
		margin: 5px;
		text-align: center;

		.imagem{
			margin-top: 24px;
			
			&.imagem2{
				display: none;
			}
		}

	}
}